apiVersion: 1

policies:
  - orgId: 1
    receiver: grafana-default-email
    group_by:
      - grafana_folder
      - alertname
    group_wait: 30s
    group_interval: 5m
    repeat_interval: 5m
    routes:
      - receiver: feishu-webhook
        object_matchers:
          - ["notify", "=", "feishu"]
        continue: false
